DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
SERVER_PORT=
PASSWORD_HASH=
JWT_SECRET=
JWT_EXPIRES_IN=
REFRESH_SECRET=
REFRESH_TOKEN_EXPIRES_IN=
REFRESH_TOKEN_HASH=
NODE_ENV=
COOKIE_SAMESITE=
COOKIE_DOMAIN=
REDIS_HOST=
REDIS_PORT=
LINK_CODE_EXPIRES_IN=
BUNNY_API_KEY=
BUNNY_LIBRARY_ID=
BUNNY_CDN_HOSTNAME=